a {
  text-decoration: none;
  color: inherit;
}
/* header {
  position: relative;
} */
header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* height: 70px; */
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 24.5px 0;
}
.header-ttl {
  font-size: 24px;
  font-weight: bold;
  margin: 0 30px;
}
.header-nav {
  margin: 0 30px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.humburger-menu {
  display: none;
}

.drawer-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #fff;
  transition: 0.7s;
  text-align: center;
  z-index: 5;
  color: blue;
}
.drawer-nav ul {
  padding-top: 40px;
}
.drawer-nav ul li {
  list-style-type: none;
  margin-top: 50px;
}


.firstview {
  position: relative;
}
.firstview-img img {
  width: 100%;
  margin-top: 70px;
}
.firstview-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.firstview-content-ttl {
  font-size: 40px;
  width: 768px;
}
.firstview-content-subttl {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.concept {
  background: #000;
  color: #fff;
  padding: 50px;
  margin-bottom: 30px;
}
.concept-ttl {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.service-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.section-ttl {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 50px auto;
}
.service-card {
  width: 50%;
  margin-bottom: 30px;
}
.service-card:last-child {
  margin-bottom: 0;
}
.service-card-img img {
  width: 100%;
}
.service-card-img {
  padding: 0 30px;
}
.service-card-content {
  padding: 15px 30px;
  line-height: 120%;
}
.serviceBtn {
  display: block;
  padding: 10px 30px;
  margin: 30px auto 50px;
  background: red;
  color: #fff;
  width: 200px;
  text-align: center;
}
.serviceBtn:hover {
  opacity: 50%;
}

.news {
  background: #000;
  padding: 50px 0;
}
.news-header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100px;
  align-items: center;
  color: #fff;
  margin: 0 auto;
}
.news-ttl {
  font-size: 40px;
}
.newsBtn {
  display: block;
  background-color: #ff0000;
  padding: 10px 15px;
  font-weight: bold;
}
.news-content {
  margin: 0 auto;
  width: 70%;
}
.news-item {
  display: block;
  background: #fff;
  padding: 10px;
  margin: 10px 0;
}
.news-item-date {
  margin-right: 10px;
  font-weight: lighter;
}
.news-item-ttl {
  font-weight: bold;
}
.news-item:hover {
  opacity: 75%;
}

.blog-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-card {
  width: 30%;
  margin-bottom: 30px;
}
.blog-card:last-child {
  margin-bottom: 0;
}
.blog-card-img img {
  width: 100%;
}
.blog-card-img {
  padding: 0 20px;
}
.blog-card-content {
  padding: 15px 20px;
  line-height: 120%;
}

.companyAndRecruit {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.company {
  position: relative;
  width: 50%;
  background-color: red;
  height: 150px;
}
.companyAndRecruit-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.recruit {
  position: relative;
  width: 50%;
  background-color: black;
  height: 150px;
}
.company:hover,
.recruit:hover {
  opacity: 75%;
}

.request {
  background: #eee;
  padding: 50px 0;
}
.request-content {
  text-align: center;
}

footer {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* height: 50px; */
  align-items: center;
  padding: 15px 30px;
  font-size: 11px;
  font-weight: lighter;
}
.footer-nav-list {
  display: flex;
}
.footer-nav-item {
  padding: 0 10px;
  border-right: 1px solid #fff;
}
.footer-nav-item:last-child {
  border-right: 0;
}

@media screen and (max-width: 768px) {
  .header-nav-list {
    display: none;
  }

  .humburger-menu {
    display: block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    margin: 0 30px;
  }
  .humburger-menu__line--top,
  .humburger-menu__line--middle,
  .humburger-menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .humburger-menu__line--top {
    top: 0;
  }
  .humburger-menu__line--middle {
    top: 14px;
  }
  .humburger-menu__line--bottom {
    bottom: 0;
  }
  .humburger-menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .humburger-menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .humburger-menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  .firstview-content-ttl {
    font-size: 35px;
    width: 90%;
  }

  .service-card {
    width: 100%;
  }

  .news-item {
    display: block;
    background: #fff;
    padding: 20px;
    margin: 10px 0;
  }

  .blog-card {
    width: 100%;
  }

  footer {
    padding: 0 20% 20px;
  }
  .footer-nav-item {
    border: none;
  }
  .footer-nav-list {
    display: block;
    text-align: center;
  }
  .footer-nav ul {
    padding-top: 10px;
  }
  .footer-nav ul li {
    list-style-type: none;
    margin-top: 10px;
  }
}
