.service {
  padding: 50px 0;
}
.service-card {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}
.service-card-img {
  width: 30%;
}
.service-card-content {
  width: 70%;
  padding-bottom: 0;
}
.service-card-border {
  width: 90%;
  background-color: 1px solid #000;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .service-card {
    flex: content;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .service-card-img {
    width: auto;
  }
}